body {
    background-color: black;
    color:coral;
}
section {
   background-color: rgba(241, 197, 197, 0.116);
   padding-top: 80px  ;
   padding-bottom: 80px;
   display: flex;
   justify-content: center;
}
